<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h3 class="section-heading">האפלקציה הראשונה לרוכבי דו-גלגלי ואופנועים בישראל</h3>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <h3 class="section-heading">הורד את האפלקציה לאייפון ואנדרואיד</h3>
                <p>&nbsp;</p>
                <div class="badges">
                    <a class="badge-link" target="blank" href="https://play.google.com/store/apps/details?id=com.israelbikers.news"><img src="{{ site.url }}/img/google-play-badge.svg" alt=""></a>
                    <a class="badge-link" target="blank" href="https://itunes.apple.com/il/app/israel-bikers/id1358581554?mt=8"><img src="{{ site.url }}/img/app-store-badge.svg" alt=""></a>
                </div>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</section>
<!--

    <div class="header-content-inner wow bounceInUp hide-on-mobile" data-wow-delay="0.5s">

                    <img src="{{ site.url }}/img/logo.png" alt="">
                <p>האפלקציה הראשונה לרוכבי דו-גלגלי ואופנועים בישראל</p>

<h2 class="section-heading">ISRAEL BIKERS</h2>
                <h2 class="section-heading">האפלקציה הראשונה לרוכבי דו-גלגלי ואופנועים בישראל</h2>
                <h2 class="section-heading">הכל על אופנועים</h2>
                <h2 class="section-heading">מהארץ ומהעולם</h2>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
    
    <h2 class="section-heading">כל מה שחדש באופנועים מהארץ ומהעולם</h2>
    <h2 class="section-heading">Discover what all the buzz is about!</h2>
    <p>Our app is available on any mobile device! Download now to get started!</p>
-->