    <section id="features" class="features">
        <div class="container">                    
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <p>&nbsp;</p>                        
                        <h2>כל מה שחדש בתחום האופנועים מהארץ ומהעולם</h2>
                        <!--
                        <h2> חדשות &bull; אירועים &bull; דיווחים</h2>
                        <p class="text-muted">כל מה שחדש בתחום האופנועים מהארץ ומהעולם</p>
                        -->
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-social-youtube text-primary"></i>
                                    <h3>וידאו וסירטונים</h3>
                                    <p class="text-muted">קטעי וידאו וסירטונים של אופנועים מהארץ ומהעולם</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-umbrella text-primary"></i>
                                    <h3>תחזית מזג האויר</h3>
                                    <p class="text-muted">מכ"ם גשם ותחזית לפי ימים ושעות</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-speech text-primary"></i>
                                    <h3>צ׳אט אופנועים</h3>
                                    <p class="text-muted">צ׳אט אופנועים כללי עם ממשק נוח וקל לתפעול</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-book-open text-primary"></i>
                                    <h3>חדשות ודיווחים</h3>
                                    <p class="text-muted">הישאר מעודכן בכל החדשות ואירועי האופנועים</p>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
    </section>

<!--
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>&nbsp;</p>
                    <div class="feature-item">
                        <h2>הצטרפו לקבוצת הפייסבוק שלנו</h2>
                    </div>
                    <div class="fb-page" data-href="https://www.facebook.com/IsraelBikersApp/" data-width="500px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/IsraelBikersApp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IsraelBikersApp/"></a></blockquote></div>
                </div>
            </div>                        
-->    