<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <div class="fb-page" data-href="https://www.facebook.com/IsraelBikersApp/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/IsraelBikersApp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IsraelBikersApp/">Israel Bikers App</a></blockquote></div>
                        <h2>&nbsp;</h2>
                        <h1>האפלקציה הראשונה לרוכבי דו-גלגלי ואופנועים בישראל</h1>
                        <h2>&nbsp;</h2>
                        <a href="#download" class="btn btn-outline btn-xl page-scroll">הורדה</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="device-container">
                    <div class="device-mockup iphone6_plus portrait white">
                        <div class="device">
                            <div class="screen">
                                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                <img src="{{ site.url }}/img/screenshot_header.png" class="img-responsive" alt="">
                            </div>
                            <div class="button">
                                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>        
    </div>
</header>