<section id="facebook" class="text-center" style="background-color: #ffffff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 style="padding: 0px; font-size: 50px; color: #333333;">צור קשר</h2>
                    <hr>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>        
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>&nbsp;</p>
                <div class="fb-page" data-href="https://www.facebook.com/IsraelBikersApp/" data-width="500px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/IsraelBikersApp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IsraelBikersApp/"></a></blockquote></div>       
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                
            </div>
        </div>
        <div class="row">
            <a style="text-decoration: none;" target="blank" href="https://www.facebook.com/groups/IsraelBikers">
                <div class="col-md-4">
                    <i class="icon-social-facebook" style="padding: 15px; font-size: 60px; color: #222222;"></i>
                    <h3 style="font-size: 16px; color: #222222;">Facebook</h3>
                </div>
            </a>
            <a style="text-decoration: none;" target="blank" href="https://www.youtube.com/channel/UCl-tU3us1C8T97TdoqwLvbg">
                <div class="col-md-4">
                    <i class="icon-social-youtube" style="padding: 15px; font-size: 60px; color: #222222;"></i>
                    <h3 style="font-size: 16px; color: #222222;">YouTube</h3>
                </div>
            </a>
            <a style="text-decoration: none;" target="blank" href="mailto:support@israel-bikers.com">
                <div class="col-md-4">
                    <i class="icon-envelope" style="padding: 15px; font-size: 60px; color: #222222;"></i>
                    <h3 style="font-size: 16px; color: #222222;">support@israel-bikers.com</h3>
                </div>
            </a>            
        </div>
    </div>
</section>

<!--

    <h2 style="padding: 15px; font-size: 50px; color: #333333;">תנו לנו לייק</h2><i class="icon-like" style="padding: 15px; font-size: 50px; color: #222222;"></i>

    <h2>הצטרפו לקבוצת <a style="text-decoration: underline; color: #4267b2;" target="blank" href="https://www.facebook.com/groups/IsraelBikers">הפייסבוק</a> שלנו</h2>

    <section id="facebook" class="text-center" style="background: url('../img/background-pattern.png'), #f4f4f4;">
    <section id="facebook" class="text-center" style="background-color: #ffffff;">

    <h2>הצטרפו לקבוצת הפייסבוק שלנו</h2>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">                
                
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <div class="fb-page" data-href="https://www.facebook.com/IsraelBikersApp/" data-width="500px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/IsraelBikersApp/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/IsraelBikersApp/"></a></blockquote></div>
            </div>
        </div>
    
    <section id="facebook" class="download text-center" style="background-color: #4267b2;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading" style="color: #ffffff;">הצטרפו לקהילה בפייסבוק</h2>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <a target="blank" href="https://www.facebook.com/groups/IsraelBikers" class="btn-facebook">ISRAEL BIKERS</a>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </section>
    <a target="blank" href="https://www.facebook.com/groups/IsraelBikers" class="btn-facebook"><i class="fa fa-facebook"></i>&nbsp;Israel Bikers</a>

-->    